version: "3.9"

services:
  backend:
    build: .
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    environment:
      REDIS_URL: ${REDIS_URL:-redis://redis:6379}
      REDIS_HOST: ${REDIS_HOST:-redis}
      REDIS_PORT: ${REDIS_PORT:-6379}
    networks:
      - bot-net

networks:
  bot-net:
    name: bot-net
    external: true
