version: "3.9"

services:
  backend:
    build: .
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    environment:
      REDIS_URL: ${REDIS_URL:-redis://worker-redis:6379}
    networks:
      - bot-net

networks:
  bot-net:
    external: true
